:root[data-bs-theme='light'] {
  --bg-image: url('/assets/backgrounds/supertrees.jpg');
}

:root[data-bs-theme='dark'] {
  --bg-image: url('assets/backgrounds/lund.jpeg');
}

body {
  background-image: var(--bg-image);
    /* Prevent the image from repeating */
    background-repeat: no-repeat;
    /* Center the background image */
    background-position: center center;
    /* Scale the background image to cover the entire element */
    background-size: cover;
    /* Make the background image fixed relative to the viewport */
    background-attachment: fixed;
}
.my-full-height-div {
  display: flex;
  justify-content: start;
  align-items: end;
        }
canvas {
    border:1px solid #d3d3d3;
    background-color: #87CEEB;
}
